components/**
node_modules/**
build/**
test/basic/components/**/*
test/basic/components/*.*
test/basic/build/**/*
test/basic/build/*.*
test/full/components/**/*
test/full/components/*.*
test/full/build/**/*
test/full/build/*.*
test/multiPath/components/**/*
test/multiPath/components/*.*
test/multiPath/build/**/*
test/multiPath/build/*.*
test/multiPath/test/**/*
test/multiPath/test/*.*