components/**
node_modules/**
build/**
test/basic/bower_components/**/*
test/basic/bower_components/*.*
test/basic/build/**/*
test/basic/build/*.*
test/full/bower_components/**/*
test/full/bower_components/*.*
test/full/build/**/*
test/full/build/*.*
test/multiPath/bower_components/**/*
test/multiPath/bower_components/*.*
test/multiPath/build/**/*
test/multiPath/build/*.*
test/multiPath/test/**/*
test/multiPath/test/*.*
test/bootstrap/build/*
test/bootstrap/bower_components/*
